body {
	background-color: #1A1A1A;
	font-family: Arial, sans-serif;
	/*height: 100%;*/
	/*width: 100%;*/
  /*background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);*/
}

header {
	/*background-color: #3d6bf5;*/
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 7px;
	--radius: 7px;
	border-radius: var(--radius);
	margin-top: -130px;
	overflow: visible;
	z-index: 10;
	opacity: 10;
}
h1{
	font-size: 70px;
	font-family: "Times New Roman", Times, serif;
	/*background-color: white;*/
	color: #3d6bf5;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 7px;
	/*float: top;*/
	margin-top: -130px;
}

.event-name{
	/*font-size: 30px;*/
	position: fixed;
	overflow: hidden;
	margin-top: 0.5%;
	margin-left: 1.7%;
	min-width: 96%;
	max-height: 3%;
	background: #0d0d0d;
	color: #fff;
	/*padding: 30px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 7px;
	max-width: 900px;
	/*margin: 0 auto;*/
	height: 100%;
	padding: 40px 20px;
	/*display: flex;*/
	flex-wrap: wrap;
	/*justify-content: space-between;*/
}

nav ul {
	display: flex;
/*	make it fixed while scrolling*/

}

nav ul li {
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	color: dodgerblue;
	text-underline: white;
}

.footer-event{
	margin-top: 10%;
	background-color: #008080;
	color: #fff;
	padding: 40px;
	z-index: 10;
	text-align: center;
	overflow: auto;
	opacity: 10;
	/*width: 100%;*/
}

.vlogo{
	width:25%;
	float: left;
	padding: 1%;
	/*margin: -80px 0.5% 0.5%;*/
	margin-top: -130px;

}

.main-body{
	/*background-color: #3d6bf5;*/
	/*background-color: #fff;*/
	/*max-width: 70%;*/
	width: 95%;
	display: grid;
}

.right-side{
	/*background-color: #3d6bf5;*/
	/*background-color: #fff;*/
	/*max-width: 70%;*/
	width: 100%;
	display: grid;
}

.cards{
	margin-top: -7%;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
	  gap: 2.5rem;
	max-width: 70%;
	/*margin-top:10%;*/
	/*height: 100%;*/
	padding: 40px 20px;
	/*margin-left: 5%;*/
	/*display: flex;*/
	flex-wrap: wrap;
	float: left;
	justify-content: space-between;
	overflow: hidden;
  /*background: #425a52;*/
}

.register-form{
	/*background: #1BA2DB;*/
	height: 100%;
	float: right;
	margin-bottom: 0;
	margin-top: 7.5%;
	margin-left: 68%;
	width: 100%;
	position: fixed;
}
